

h2{
	font-family: Roboto-Condensed, Roboto, sans-serif;
}

.my-button {
	background-color: rgb(236, 37, 52, 1);
	border-color: transparent;
}

.my-button:hover {
	background-color: rgb(0, 0, 0, .6);
	border-color: transparent;
}


.intro-box p{
	font-family: Roboto, sans-serif;
}

.my-stroke-head hr{
}

.my-stroke-foot hr{
}

.footer p{

	font-family: Roboto, sans-serif;
	color: rgb(0, 0, 0, .3);
	
}